doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title= title || 'Document'
    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
  
  body
    block body
